.categoryWidth{
    width: 430px;
}
.button{
    position: absolute;
    top:70px ;
    right: 166px; ;
   
}

@media (max-width: 600px) {
    .categoryWidth{
        width: 330px;
        margin-left: 20px;
    }
    .button{
        position: absolute;
        top:70px ;
        right: 90px; ;
    }
  }