
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .swiper-slide img {
   
    width: 900%;
    height: 500px;
   
  }
  .margintop {
    margin-top: 20px;
  }
  @media (max-width: 600px) {
    .swiper-slide img {
   
      width: 900%;
      height: 250px;
     
    }
    .margintop {
      margin-top: 105px;
    }
  }

 